<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>invoicelike</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

</head>

<body>
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: SlateBlue">
          <div class="container d-flex">
            <div class="navbar-brand fs-6"><strong style="color: White">ДОБАВИТЬ</strong></div>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
                <li class="nav-item dropdown " >
                  <a class="nav-link dropdown-toggle" style="color: White" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <strong style="color: White">ТАБЛИЦЫ</strong>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Все автомобили</a></li>
                    <li><a class="dropdown-item" href="#">Автомобили Hyundai</a></li>
                    <li><a class="dropdown-item" href="#">Продано за последний год</a></li>
                  </ul>
                </li>
                  <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" style="color: White" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <strong style="color: White">СПИСКИ</strong>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Количество автомобилей по маркам</a></li>
                    <li><a class="dropdown-item" href="#">Выручка с продаж</a></li>
                  </ul>
                </li>
                  <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" style="color: White" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <strong style="color: White">ГРАФИКИ</strong>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Проданные автомобили по месяцам</a></li>
                    <li><a class="dropdown-item" href="#">Поступление KIA по годам</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
    </header>

    <div class="p-5"></div>
    <div class="container-md">
        <div class="row">
            <div>
                {% for dash_type in dash_types %}
                    <div class="m-4 tablebox rounded col-12">
                            {% include 'djangoinvoicelike/user_dashboard.html' with dash_type=dash_type carset=carset names=names%}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


</body>
</html>