<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>invoicelike</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

</head>

<body>
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: SlateBlue">
          <div class="container d-flex">
            <div class="navbar-brand fs-6"><strong style="color: White">ДОБАВИТЬ</strong></div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
                <li class="nav-item dropdown " >
                  <a class="nav-link dropdown-toggle" style="color: White" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <strong style="color: White">ТАБЛИЦЫ</strong>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% include 'djangoinvoicelike/menu_button.html' with name='Автомобили' %}
                    {% include 'djangoinvoicelike/menu_button.html' with name='Проданные Hyundai' %}
                    {% include 'djangoinvoicelike/menu_button.html' with name='Продано за последний год' %}
                  </ul>
                </li>
                  <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" style="color: White" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <strong style="color: White">СПИСКИ</strong>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% include 'djangoinvoicelike/menu_button.html' with name='Количество автомобилей по маркам' %}
                    {% include 'djangoinvoicelike/menu_button.html' with name='Выручка с продаж' %}
                  </ul>
                </li>
                  <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" style="color: White" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <strong style="color: White">ГРАФИКИ</strong>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% include 'djangoinvoicelike/menu_button.html' with name='Проданные автомобили по месяцам' %}
                    {% include 'djangoinvoicelike/menu_button.html' with name='Поступление KIA по годам' %}
                  </ul>
                </li>
              </ul>
                <form class="d-flex form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" style="color: White" type="submit">Search</button>
                  </form>
            </div>
          </div>
        </nav>
    </header>

    <div class="p-5"></div>
    <div class="container-md">
        <div class="row">
            <div>
                {% for dash_type in dash_types %}
                    <div class="mb-5 tablebox rounded col-12">
                            {% include 'djangoinvoicelike/user_dashboard.html' with dash_type=dash_type.name pk=dash_type.pk carset=carset names=names%}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


</body>
</html>