{% load static %}



{% if dash_type == 'Таблица автомобилей' %}
    {% include 'djangoinvoicelike/dashboards/dashboard_header.html' with name='Автомобили' icon='table' %}
    {% include 'djangoinvoicelike/dashboards/table_full_carset.html' with carset=data.carset names=names %}

{% elif dash_type == 'Продано за последний год' %}
    {% include 'djangoinvoicelike/dashboards/dashboard_header.html' with name='Продано за последний год' icon='table' %}
    {% include 'djangoinvoicelike/dashboards/table_last_year_sales.html' with carset=data.last_year names=names %}

{% elif dash_type == 'Проданные Hyundai' %}
    {% include 'djangoinvoicelike/dashboards/dashboard_header.html' with name='Автомобили Hyundai' icon='table' %}
    {% include 'djangoinvoicelike/dashboards/table_hyundai.html' with carset=data.carset names=names %}

{% elif dash_type == 'Выручка с продаж' %}
    {% include 'djangoinvoicelike/dashboards/dashboard_header.html' with name='Выручка с продаж' icon='list' %}
    {% include 'djangoinvoicelike/dashboards/list_income.html' with income=data.income names=names %}

{% elif dash_type == 'Количество автомобилей по маркам' %}
    {% include 'djangoinvoicelike/dashboards/dashboard_header.html' with name='Количество автомобилей по маркам' icon='list' %}
    {% include 'djangoinvoicelike/dashboards/list_car_amount_by_brand.html' with carset=data.carset names=names %}

{% elif dash_type == 'Проданные автомобили по месяцам' %}
    {% include 'djangoinvoicelike/dashboards/dashboard_header.html' with name='Проданные автомобили по месяцам' icon='graph-up' %}
    {% include 'djangoinvoicelike/dashboards/chart_sold_cars_by_mounths.html' with carset=data.carset names=names %}

{% elif dash_type == 'Поступление автомобилей KIA по годам' %}
    {% include 'djangoinvoicelike/dashboards/dashboard_header.html' with name='Поступление KIA по годам' icon='graph-up' %}
    {% include 'djangoinvoicelike/dashboards/chart_kia_delivery_by_years.html' with carset=data.carset names=names %}

{% else %}
    {% include 'djangoinvoicelike/dashboards/dashboard_header.html' with name='404 not found' %}

{% endif %}