{% load static %}
<div class="d-flex back-color border-bottom" style="margin-bottom: 0">
    {% if icon == 'table' %}
        <div class="p-1"><img src='{% static "img/table.svg" %}'></div>
    {% elif icon == 'list' %}
        <div class="p-1"><img src='{% static "img/list.svg" %}'></div>
    {% elif icon == 'graph-up' %}
        <div class="p-1"><img src='{% static "img/graph-up.svg" %}'></div>
            {% endif %}
    <div class="p-2"><strong>{{ name }}</strong></div>
    <div class="ms-auto p-1">
        <form method="POST" >
            {% csrf_token %}
            <button
                    class="btn-close btn-primary"
                    aria-label="Close"
                    name="del-dash-button"
                    value="{{ pk }}"
                    type="submit">
            </button>
        </form>
    </div>
</div>