{% load static %}
<div class="m-4 tablebox rounded">
    <div class="d-flex back-color">
        <div class="p-1"><img src='{% static "img/table.svg" %}'></div>
        <div class="p-2"><strong>Количество автомобилей по брендам</strong></div>
        <div class="ms-auto p-1">
            <button type="button"
                    class="btn-close btn-primary"
                    aria-label="Close"
                    onclick="delete_current_table(this);">
            </button>
        </div>
    </div>
</div>