{% load static %}
<table class="table table-hover table-sm">
    <thead class="back-color">
        {% for name in names %}
            <th>{{ name }}</th>
        {% endfor %}
    </thead>
    <tbody>
        {% for element in carset %}
            <tr>
                <td>{{ element.brand }}</td>
                <td>{{ element.model }}</td>
                <td>{{ element.price }}₽</td>
                <td>{{ element.power }} лс</td>
                <td>{{ element.colour }}</td>
                <td align="center" class="text-primary">{{ element.release_date |date:"d.m.Y" }}</td>
                <td align="center" class="text-primary">{{ element.delivery_date |date:"d.m.Y" }}</td>
                <td align="center" class="text-primary">{{ element.sale_date |date:"d.m.Y" }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>